name: Docker Image CI

on: [push]

concurrency:
  group: dockerimage_group_${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Testing
  test:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        swift: ["5.5", "5.6", "5.7", "5.8"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3.5.2

      - uses: swift-actions/setup-swift@v1
        with:
          swift-version: ${{ matrix.swift }}

      - name: System Dependencies Ubuntu
        run: apt-get -y update && apt-get -y install libssl-dev libdbus-1-dev libsqlite3-dev
        if: ${{ matrix.os == 'ubuntu-latest' }}
      - name: System Dependencies macOS
        run: brew install openssl dbus zlib zlib-devel sqlite3
        if: ${{ matrix.os == 'macos-latest' }}

      - name: Build Debug
        run: swift build -c debug
      - name: Build Release
        run: swift build -c release

      - name: Docker Autobahn Client Suite
        run: docker run -d -it --rm -v "$PWD/autobahn/config:/config" -v "$PWD/autobahn/reports:/reports" -p 9001:9001 --name fuzzingserver crossbario/autobahn-testsuite

      - name: Run tests
        run: swift test
