name: Swift Tests

on: [push]

concurrency:
  group: swifttests_group_${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Testing
  test:
    env:
      AUTOBAHN_HOST: "127.0.0.1"
      AUTOBAHN_PORT: "9001"
      HOMEBREW_NO_INSTALL_CLEANUP: "true"

    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-latest]
        swift: ["5.8"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3.5.2

      - uses: swift-actions/setup-swift@v1.23.0
        with:
          swift-version: ${{ matrix.swift }}

      - name: System Dependencies Ubuntu
        run: sudo apt-get -y update && sudo apt-get -y install libssl-dev libdbus-1-dev libsqlite3-dev
        if: ${{ matrix.os == 'ubuntu-22.04' || matrix.os == 'ubuntu-20.04' }}
      - name: System Dependencies macOS
        run: brew install openssl dbus sqlite3
        if: ${{ matrix.os == 'macos-latest' }}
      - name: Colima aka Docker on macOS
        run: |
          brew install colima docker
          colima start
        if: ${{ matrix.os == 'macos-latest' }}

      - name: Build Debug
        run: swift build -c debug
      - name: Build Release
        run: swift build -c release

      - name: Docker Autobahn Client Suite
        run: docker run -d -it --rm -v "$PWD/autobahn/config:/config" -v "$PWD/autobahn/reports:/reports" -p 9001:9001 --name fuzzingserver crossbario/autobahn-testsuite

      - name: Run tests
        run: swift test

      - name: Upload report on failure
        run: tar -cvf autobahn-libwebsockets-swift.tar autobahn/ && curl --upload-file autobahn-libwebsockets-swift.tar https://transfer.sh/autobahn-libwebsockets-swift.tar
        if: failure()
